{{> head}}
{{> navbar}}

<div class="row">

    <div class="col-8">
        <h1>Black Windows 10!</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam corporis rerum laborum esse amet eos provident perspiciatis consequatur eaque fuga. Inventore ab enim omnis veniam veritatis fuga aliquid iure delectus.
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/redstone.jpg" class="img-thumbnail">
    </div>

</div>

{{>footer}}